@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blanco-crema-rgb: 252, 249, 238; /* #fcf9ee en formato RGB */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
